<template>
  <div class="column justify-center align-center q-pa-lg">
    <h3>Welcome {{user.fullName}}</h3>

    <component
      :is="currentComponent"
      @changeComponent="changeComponent($event)"
      @userData="newUser=$event"
      :newUser="newUser"
    >
      <admin-form></admin-form>
      <designation></designation>
      <user-details></user-details>
    </component>
  </div>
</template>

<script>
import adminForm from "../components/adminForm";
import designation from "../components/Designation";
import userDetails from "../components/Details";
export default {
  name: "AdminDashboard",
  components: {
    adminForm,
    designation,
    userDetails,
  },
  data() {
    return {
      user: this.$store.getters["Users/getUser"](this.$route.params.username),
      newUser: null,
      currentComponent: "admin-form",
    };
  },

  methods: {
    changeComponent(component) {
      this.currentComponent = component;
    },
  },
};
</script>

<style>
</style>