<template>
  <q-page class="flex flex-center">
    <log-in></log-in>
  </q-page>
</template>

<script>
import logIn from "../components/LogIn";

export default {
  name: "PageIndex",
  components: {
    logIn,
  },
};
</script>
