<template>
  <div class="flex justify-center">
    <h3>Welcome {{user.fullName}}</h3>
  </div>
</template>

<script>
export default {
  name: "UserDashboard",
  data() {
    return {
      user: this.$store.getters["Users/getUser"](this.$route.params.username),
    };
  },
};
</script>

<style>
</style>