<template>
  <div class="row justify-around align-center q-pa-lg">
    <div>
      <h3 class="text-grey-8">Users</h3>
      <ul>
        <li
          v-for="user in userList"
          :key="user.username"
          class="text-green-8 text-bold"
        >{{user.fullName}} (@{{user.username}})</li>
      </ul>
    </div>

    <div>
      <h3 class="text-grey-8">Admins</h3>
      <ul>
        <li
          v-for="admin in adminList"
          :key="admin.username"
          class="text-blue-8 text-bold"
        >{{admin.fullName}} (@{{admin.username}})</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      userList: this.$store.getters["Users/getUsers"],
      adminList: this.$store.getters["Users/getAdmins"],
    };
  },
};
</script>

<style>
</style>

