<template>
  <div class="q-pa-xl bg-grey-3">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md row"
      style="max-height:800px;max-width:1000px"
    >
      <q-input
        filled
        class="col-5"
        v-model="user.username"
        label="Username *"
        hint="Enter the username"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Username cannot be empty']"
      ></q-input>

      <q-input
        filled
        v-model="user.fullName"
        class="col-5"
        label="Full Name *"
        hint="Enter the full name"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'this cannot be empty']"
      ></q-input>

      <q-input
        v-model="user.emailID"
        filled
        type="email"
        hint="Enter Email ID"
        label="Email *"
        class="col-5"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'email cannot be empty',
                   val => validateEmail(val) || 'Email is invalid!'
       ]"
      />

      <q-input
        filled
        class="col-5"
        v-model="user.phoneNO"
        label="Phone Number *"
        mask="##########"
        hint="Enter Phone Number"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'this cannot be empty',
        val=>val.length===10 || 'Phone no must be 10 digits']"
      />

      <div class="col-12 q-mt-xl">
        <q-btn label="Next" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        username: null,
        emailID: null,
        phoneNO: null,
        fullName: null,
      },
      isPwd: true,
      designations: ["User", "Admin"],
    };
  },
  methods: {
    onSubmit() {
      this.$emit("changeComponent", "designation");
      this.$emit("userData", this.user);
    },
    onReset() {
      this.user.name = null;
      this.user.email = null;
      this.user.phone = null;
      this.user.fullName = null;
    },
    validateEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    },
  },
};
</script>

<style>
</style>