<template>
  <div class="q-pa-xl bg-grey-3">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md row"
      style="max-height:800px;max-width:1000px"
    >
      <q-select
        filled
        v-model="designation"
        class="col-5"
        :options="designations"
        label="Designation *"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'this cannot be empty']"
      />

      <q-input
        v-if="designation === 'User'"
        filled
        class="col-5"
        v-model="userID"
        label="User ID"
        mask="#####"
        hint="Enter User ID"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'this cannot be empty',
        val=>val.length===5 || 'User ID must be 5 digits']"
      />

      <div class="col-12 q-mt-xl">
        <q-btn label="Done" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  props: ["newUser"],
  data() {
    return {
      userID: null,
      designation: null,

      designations: ["User", "Admin"],
    };
  },
  methods: {
    onSubmit() {
      this.$emit("changeComponent", "user-details");
      this.newUser.userID = this.userID;
      this.newUser.designation = this.designation;
      this.$emit("userData", this.newUser);
    },
    onReset() {
      this.userID = null;
      this.designation = null;
    },
  },
};
</script>

<style>
</style>