<template>
  <div>
    <div class>
      <h4>New User Details</h4>
      <q-list bordered separator>
        <q-item>
          <q-item-section>Username: {{newUser.username}}</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Full Name: {{newUser.fullName}}</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Email ID: {{newUser.emailID}}</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Phone No.: {{newUser.phoneNO}}</q-item-section>
        </q-item>
        <q-item>
          <q-item-section>Designation: {{newUser.designation}}</q-item-section>
        </q-item>
        <q-item v-if="newUser.designation==='User'">
          <q-item-section>User ID: {{newUser.userID}}</q-item-section>
        </q-item>
      </q-list>

      <div class="col-12 q-mt-xl">
        <q-btn label="Create New User" color="primary" @click="createUser" />
        <!-- <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" /> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["newUser"],
  methods: {
    createUser() {
      this.$store.commit("Users/addUser", this.newUser);
      this.$emit("changeComponent", "admin-form");
    },
  },
};
</script>

<style>
</style>