<template>
  <div class="q-pa-xl bg-grey-3">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-lg column justify-evenly"
      style="max-height:500px;max-width:400px"
    >
      <!-- <q-select
        filled
        v-model="user.designation"
        :options="designations"
        label="I am *"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'this cannot be empty']"
      />-->
      <q-input
        filled
        v-model="user.name"
        label="Username *"
        hint="Enter the username"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Username cannot be empty']"
      >
        <template v-slot:prepend>
          <q-icon name="person" />
        </template>
      </q-input>

      <q-input
        v-model="user.password"
        filled
        :type="isPwd ? 'password' : 'text'"
        hint="Enter the passeword"
        label="Password *"
        lazy-rules
        :rules="[val => !!val || 'Password cannot be empty',
        val => val.length >=8 || 'Password should be atleast 8 characters long']"
      >
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
          />
        </template>
        <template v-slot:prepend>
          <q-icon name="lock" />
        </template>
      </q-input>

      <div>
        <q-btn label="Log In" type="submit" color="primary" />
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
    <p v-if="isError" class="text-red-8 q-mt-lg">Username does not exists!</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: {
        name: null,
        password: null,
        // designation: null,
      },
      isPwd: true,
      isError: false,
      designations: ["User", "Admin"],
    };
  },
  methods: {
    onSubmit() {
      const user = this.$store.getters["Users/getUser"](this.user.name);

      if (!user) {
        return (this.isError = true);
      }

      switch (user.designation) {
        case "Admin":
          this.$router.push({
            name: "AdminDashboard",
            params: { username: user.username },
          });
          break;

        case "User":
          this.$router.push({
            name: "UserDashboard",
            params: { username: user.username },
          });
          break;

        default:
          break;
      }
    },
    onReset() {
      this.user.name = null;
      this.user.password = null;
      this.user.designation = null;
    },
  },

  watch: {
    isError() {
      setTimeout(() => {
        this.isError = false;
      }, 5000);
    },
  },
};
</script>

<style>
</style>